name: Web Scrapper Runner Test

on:
  schedule:
    # - cron: '0 23 * * *'
  workflow_dispatch:

jobs:
  run-daily-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install puppeteer googleapis google-auth-library puppeteer-extra puppeteer-extra-plugin-stealth

      - name: Determine script to run
        id: pick
        run: |
          DAY=$(TZ="Asia/Seoul" date +%u)
          echo "DAY=$DAY" >> $GITHUB_OUTPUT

          # if [ "$DAY" -eq 1 ]; then
            echo "SCRAPER=backend/scrappers/kyoboScrapper.js" >> $GITHUB_OUTPUT
          # fi
          # if [ "$DAY" -eq 2 ]; then
            echo "SCRAPER=backend/scrappers/usScrapper.js" >> $GITHUB_OUTPUT
          # fi
          # if [ "$DAY" -eq 3 ]; then
            echo "SCRAPER=backend/scrappers/japanScrapper2.js" >> $GITHUB_OUTPUT
          # fi
          # if [ "$DAY" -eq 4 ]; then
            echo "SCRAPER=backend/scrappers/ukScrapper.js" >> $GITHUB_OUTPUT
          # fi
          # if [ "$DAY" -eq 5 ]; then
            echo "SCRAPER=backend/scrappers/chinaScrapper.js" >> $GITHUB_OUTPUT
          # fi
          # if [ "$DAY" -eq 6 ]; then
            echo "SCRAPER=backend/scrappers/taiwanScrapper.js" >> $GITHUB_OUTPUT
          # fi
          # if [ "$DAY" -eq 7 ]; then
            echo "SCRAPER=backend/scrappers/franceScrapper.js" >> $GITHUB_OUTPUT
          # fi

      - name: Run the day-specific scraper
        run: node ${{ steps.pick.outputs.SCRAPER }}

      - name: Write Google service account key
        run: |
          echo '${{ secrets.GCP_SA_KEY }}' > sa.json

      - name: Run script
        env:
          GOOGLE_APPLICATION_CREDENTIALS: sa.json
        run: node backend/uploadToGoogle.js
